<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DoMucServicesAspNetAjaxBehavior">
          <enableWebScript />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://www.b12petroleum.com.vn/DoMucWebservices/Service/DoMucServices.svc"
                behaviorConfiguration="DoMucServicesAspNetAjaxBehavior"
                binding="webHttpBinding"
                contract="DoMucServiceReference.DoMucServices" />
      <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <clear />
    <add key="Server" value="127.0.0.1"/>
    <add key="ProgID" value="SaabTankRadar.TankServer.1"/>
    <add key="SendDBInterval" value="30000"/>
    <add key="UpdateRate" value="5000"/>
    <add key="TankList" value="KAD-01;KAD-02;KAD-03;KAD-04;KAD-05;KAD-06;KAD-07;KAD-08;KAM-01;KAM-02;KAM-03;KAM-04"/>
    <add key="SW_HIDE" value="1"/>
  </appSettings>
</configuration>